{% extends "admin_dashboard.html" %} {% block content %}

<div class="container mt-4">
  <h2>Update Patient</h2>

  <form
    method="POST"
    class="w-50"
    action="{{ url_for('update_patient', user_id=patient.id) }}"
  >
    <label class="my-2">Username</label>
    <input
      class="form-control mb-2 border border-black"
      name="username"
      value="{{ patient.username }}"
      required
    />

    <label class="my-2">Password</label>
    <input
      class="form-control mb-3 border border-black"
      type="password"
      name="password"
      value="{{ patient.password }}"
      required
    />

    <button class="btn btn-warning" type="submit">Save</button>
    <a
      href="{{ url_for('admin_patients') }}"
      class="btn btn-outline-danger ms-2"
      >Cancel</a
    >
  </form>
</div>

{% endblock %}
